* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bricolage Grotesque", sans-serif;
    color: white;
    transition: 800ms cubic-bezier(0.33, 1, 0.68, 1) 0s;
}

/* GENERAL */
html {
    scroll-behavior: smooth;
}

body {
    background-color: #131313;
    //padding: 1em;
}

/* CUSTOM CURSOR */

/* LOAD */
#load{
    width: 100vw;
    height: 100vh;
    background-color: #CF3CA7;
    position: fixed;
    top: 0;
    left: 0;
    will-change: transform;
    z-index: 300;

    display: flex;
    justify-content: center;
    align-items: center;

   p{
    font-weight: 600;
    font-size: 4em;
   }
}

/* MENÚ */
nav {
    z-index: 100;
    position: fixed;
    top: 1em;
    right: 1em;
    text-shadow: 0px 0px 20px #13131385;

    p {
        font-size: 2em;
        text-align: right;
    }

    #nav_menu {
        position: relative;
        margin-top: 2.8em;
    }

    a {
        text-decoration: none;
    }


    #nav_icon {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 5em;
        font-weight: 200;
        line-height: .5em;
        cursor: pointer;
    }

    .hidden {
        opacity: 0;
        pointer-events: none;
        transform: translateY(-1em);


    }

    .nav_show {
        transform: rotate(-135deg);
    }

    div {
        z-index: 99;
    }

    #nav_back {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 5;
        width: 100vw;
        height: 100vh;
        backdrop-filter: blur(5px);
        background-color: #13131342;
        will-change: backdrop-filter;
    }

}

@media screen and (min-width: 768px) {
    nav {
        position: fixed;
        display: flex;
        justify-content: right;
        align-items: center;
        gap: 15px;


        p {
            font-size: 2em;
        }

        div:first-child {
            margin-top: 0;
        }

        div {
            display: flex;
            gap: 20px;
        }

        #nav_icon {
            position: static;
            font-size: 5em;
            font-weight: 200;
            line-height: .5em;
        }

        #nav_menu {
            margin-top: 0;
        }

        .hidden {
            opacity: 0;
            pointer-events: none;
            transform: translateX(1em);
        }
    }
}

@media screen and (max-width: 768px) {}

/* INICIO */
section#inicio {
    padding: 1em;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-image: url(media/img/00/Intro.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    cursor: pointer;

    #nombre {
        font-size: 4.5em;
        line-height: 79%;
        margin-bottom: 15px;
    }

    h2 {
        font-size: 3em;
        line-height: 1em;
    }

    #rol-anim {
        height: 3em;
        overflow: hidden;
    }
}

@media screen and (min-width: 768px) {
    section#inicio {
        padding: 0 100px;

        #nombre {
            font-size: 6em;
            line-height: 79%;
            margin-bottom: 15px;
        }

        h2 {
            font-size: 3em;
        }
    }
}

/* TRABAJOS */
section#trabajos {
    padding: 1em;
    min-height: 100vh;
    padding: 0;
    margin-top: 50vh;

    p {
        font-size: 1.4em;
        margin-bottom: 1em;
    }

    a {
        color: #CF3CA7;
    }

    .texto-fijo {
        padding: 0 1em;
        transform: translateY(-50%);
        position: sticky;
        top: 50vh;
        z-index: 10;
        width: 85%;


        #frase {
            font-weight: 600;
        }
    }

    #trabajos-appear {
        pointer-events: none;
        overflow-x: hidden;
        position: relative;
        z-index: 11;
        width: 100%;



        div.imgContainer {
            pointer-events: all;
            width: 80vw;
            margin: 90vh auto;
            pointer-events: all;
            transition: none;


            img {
                display: block;
                width: 100%;
                transition: none;
            }
        }

    }

}

@media screen and (min-width: 768px) {
    section#trabajos {
        min-height: 100vh;
        margin-bottom: 50vh;

        p {
            font-size: 2em;
            margin-bottom: 1em;
            width: 600px;
            margin-left: 100px;
        }


        #trabajos-appear {
            div.imgContainer {
                width: 50vw;
                margin: 90vh auto;
                pointer-events: all;
            }
        }

    }
}

/* DISCIPLINAS */

.sticky_parent {
    height: 600vh; //debe coincidir con scroll_section
}

.sticky {
    overflow: hidden;
    position: sticky;
    top: 0;
    height: 100vh;
}

.scroll_section {
    position: absolute;
    top: 0;
    height: 100%;
    width: 600vh; //debe coincidir con sticky_parent
    will-change: transform;
    display: flex;
    //justify-content: space-between;
    align-items: center;
    gap: 60px;
}

#disciplinas {
    h1 {
        position: sticky;
        left: 0;
        top: 50vh;
        transform: translate(0%, -50%) scale(107%);

        font-size: 20vw;
        line-height: 90%;

        text-align: center;
    }

    #blank_space {
        width: 110vw;
    }

    a {
        text-decoration: none;
    }

    article {
        width: 50vw;
        position: relative;
        top: 0;
        left: 0;

        h2 {
            position: absolute;
            color: #CF3CA7;
            mix-blend-mode: difference;
            text-align: start;
            line-height: 90%;
        }

        .dv1 {
            bottom: 0;
            right: 0;
            transform: translate(10%, 10%) rotateZ(-8deg);
        }

        .dv2 {
            text-align: end;
            top: 0;
            right: 0;
            transform: translate(10%, -10%) rotateZ(10deg);
        }

        .dv3 {
            bottom: 0;
            left: 0;
            transform: translate(-10%, 10%) rotateZ(5deg);
        }

        .dv4 {
            top: 0;
            left: 0;
            transform: translate(-10%, -10%) rotateZ(-12deg);
        }

        img {
            width: 100%;
        }
    }
}

@media screen and (min-width: 768px) {
    .sticky_parent {
        height: 400vh; //debe coincidir con scroll_section
    }

    .scroll_section {
        position: absolute;
        top: 0;
        height: 100%;
        width: 700vh; //debe coincidir con sticky_parent
        will-change: transform;
        display: flex;
        justify-content: space-between;
        gap: 0px;
    }

    #disciplinas {
        h1 {
            position: sticky;
            left: 0;
            top: 50vh;
            transform: translate(0, -25%) scale(110%);
        }

        #blank_space {
            width: 110vw;
            height: 100vh;
        }

        article {
            width: 25vw;
            position: relative;
            top: 0;
            left: 0;

            h2 {
                font-size: 2em;
            }
        }
    }
}

/* ABOUT */
section#about {
    min-height: 100vh;
    padding: 1em;

    #about_fijo {
        margin-top: 50vh;
        position: sticky;
        top: 50vh;
        transform: translateY(-50%);
    }

    h1 {
        font-size: 5em;
    }

    p {
        margin: 1em 0;
        font-weight: 300;
    }

    img {
        display: block;
        margin: 50vh auto;
        position: sticky;
        top: 50vh;
        width: 60vw;
    }
}

@media screen and (min-width: 768px) {
    section#about {
        padding-top: 50vh;

        #about_fijo {
            position: sticky;
            top: 50vh;
            transform: translateY(-50%);

            div {
                display: flex;
                flex-direction: column;
                align-items: end;
                padding-right: 100px;
            }
        }

        h1 {
            padding-left: 100px;
            font-size: 16em;
            line-height: 1em;
        }

        p {
            font-size: 1.15em;
            margin: 0;
            margin-bottom: 1em;
            max-width: 580px;
        }

        img {
            width: unset;
            height: 70vh;
        }
    }
}


/* FINAL */
section#final {
    padding: 1em;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

    h1 {
        font-size: 2em;
        line-height: 90%;

        a {
            text-decoration: none;
        }
    }

    #contacto {
        width: 3em;
        height: 3em;
        background-color: #CF3CA7;
        border-radius: 100px;
        font-size: 1.5em;
        line-height: 1.5em;
        transform: translateX(80%) rotate(10deg);

        p {
            transform: translate(-50%, 50%);
        }
    }

     .hidden {
            opacity: 1;
        }
}

@media screen and (min-width: 768px) {
    section#final {
        padding: 0 100px;
        align-items: start;

        h1 {
            position: relative;
            z-index: 10;
            font-size: 6em;
            transform: translateY(-25%);
        }

        #contacto {
            position: fixed;
            top: 150vh;
            transform: translate(-25%, 0) rotate(10deg);
            cursor: pointer;
            transition: 0.3s cubic-bezier();
        }

        .hidden {
            opacity: 0;
        }
    }

}

/* FOOTER */
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: end;
    margin: 1em;

    div {
        width: 20%;
    }

    p {
        margin-top: .5em;
        font-weight: 300;

    }

    a {
        text-decoration: none;
    }
}

@media screen and (min-width: 768px) {
    footer {
        padding: 0 1em;
        margin: 0;
        margin-bottom: 1em;
    }
}

/* ELEMENTOS CON PERSPECTIVA */
.perspective-content {
    transition: none;
}

/* PÁGINA PROYECTOS */
#bt-listado {
    position: fixed;
    top: 1em;
    left: 50vw;
    font-size: 1.5em;
    cursor: pointer;
    z-index: 10;
    transform: translateX(-50%);
    mix-blend-mode: difference;
}

#bt-listado:hover {
    color: #CF3CA7;
}

#listado-trabajos {
    min-height: 100vh;
    min-width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1313139f;
    backdrop-filter: blur(10px);

    padding: 5em 1em 0em 1em;

    table {
        width: 100%;
        font-size: 1em;
        border-collapse: collapse;

        tr {
            height: 5em;
            border-top: 1px rgba(255, 255, 255, 0.7) solid;
            border-bottom: 1px rgba(255, 255, 255, 0.7) solid;
            cursor: pointer;

            td {
                padding: 5px 6px;
            }
        }
    }


    #preview {
        position: fixed;
        top: 0;
        left: 0;
        pointer-events: none;

        img {
            width: 15vw;
        }

    }

    .hide {
        opacity: 0;
    }
}


#listado-trabajos.hidden {
    top: 100vh;
}

@media screen and (min-width: 768px) {
    #listado-trabajos {

        //padding: 5em 100px 0em 100px;
        table {
            tr {
                height: 3.5em;

                td {
                    padding: 2px 6px;
                }

                /* TAMAÑO DE CELDAS */
                td:nth-child(1) {
                    width: 20%;
                }

                td:nth-child(2) {
                    width: 20%;
                }

                td:nth-child(3) {
                    width: 30%;
                }

                td:nth-child(4) {
                    width: 5%;
                }
            }

            td:nth-child(4) {
                text-align: right;
            }
        }
    }


}

#scroll-trabajos {
    overflow: hidden;

    article {

        padding: 1em 0;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        // margin: 20vh 0;

        a {
            text-decoration: none;
        }

        img,
        h1 {
            display: block;
        }

        h1 {
            font-size: 4em;
            line-height: 90%;
            text-align: center;

            a {
                color: #CF3CA7;
                text-decoration: none;
            }
        }

        img {
            width: 60%;
            margin: 0 auto;
        }

        .imgL,
        .title,
        .imgR {
            will-change: transform;
        }

        .blur-elem {
            will-change: filter;
            /* For performance */
        }

        .move-group {
            will-change: transform;
        }
    }
}

@media screen and (min-width: 768px) {
    #scroll-trabajos {

        article {

            h1 {
                font-size: 7em;
                width: 1200px;
                margin: 0 auto;
            }

            img {
                width: unset;
                height: 40vh;
                margin: 0 auto;
            }

        }


    }
}

/* DETALLE */
section#detalle {
    width: 100vw;
    // overflow-x: hidden;

    div {
        margin: 20vh 0;
    }

    #portada {
        padding-top: 30vh;
        margin: 1em;
        min-height: 100vh;

        align-content: start;

        h1 {
            font-size: 4em;
            line-height: 90%;
            margin: .2em 0;
        }

        p {
            margin: 1em 0;
            font-weight: 300;
            padding-right: 30vw;

            em {
                color: #b6b6b6;
                font-style: normal;
            }
        }

        div {
            margin: 0;

            p {
                padding: 0;
            }
        }
    }

    .video {
        width: 100vw;
        height: 100vh;

        iframe {
            width: 100%;
            height: 100%;
        }

        audio {
            display: block;
            margin: 0 auto;
            width: 100vw;
        }

    }

    .txt1,
    .txt2,
    .highlight {
        margin-left: 1em;
        margin-right: 1em;

        h2 {
            font-size: 1.5em;
            //  text-transform: capitalize;
            font-weight: 600;
        }

        p,
        ul {
            font-weight: 300;
            margin-top: .5em;

            b {
                font-weight: 600;
            }
        }

        ul {
            margin-left: 1em;

            li {
                margin-top: .2em;
            }
        }

    }

    .highlight {
        h2 {
            font-weight: 300;
        }

        p {
            font-weight: 600;
            font-size: 1.5em;
            line-height: 90%;
        }

        a {
            text-decoration: none;
            color: #CF3CA7;
        }
    }

    .img-full {
        img {
            height: 100vh;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    .img-medium {
        img {
            display: block;
            margin: 0 auto;
            width: 80%;
            height: 80vh;
            object-fit: cover;
            object-position: center;
        }
    }

    .scroll-appear {
        overflow-x: hidden;

        img {
            width: 100%;
            margin: 25vh 0;
            will-change: transform;
        }
    }

    /* ajustes */
    .sticky_parent {
        div {
            margin: 0;
        }
    }

    .sticky_parent {
        position: relative;
        height: unset; //debe coincidir con scroll_section

    }

    .sticky {
        position: sticky;
        top: 0;
        height: 100vh;
        overflow-x: hidden;
    }

    .scroll_section {
        position: sticky;
        top: 0;
        height: 100%;
        width: fit-content; //debe coincidir con sticky_parent
        will-change: transform;
        display: flex;
        //justify-content: space-between;
        align-items: center;
        gap: 0px;

        img {
            width: 100vw;
        }
    }

    .back {
        h1 {
            font-size: 4em;
            line-height: 90%;
            text-align: center;

            a {
                color: #CF3CA7;
                text-decoration: none;
            }
        }
    }

}

@media screen and (max-width: 768px) {
    .miro {
        display: none;
        width: 0;
    }
}

@media screen and (min-width: 768px) {

    section#detalle {
        // overflow-x: hidden;

        #portada {
            position: relative;
            left: 30vw;
            width: 70vw;
            display: flex;
            flex-wrap: wrap;
            padding-left: 1em;
            padding-right: 1em;
            margin: 0;


            h1 {
                font-size: 8em;
            }

            p {
                padding: 0;
                font-size: 1.2em;
                width: 20%;
                margin-right: 40px;

                em {}

            }

            div {

                width: 60%;

                p {
                    width: 100%;
                }
            }
        }

        .txt1,
        .txt2,
        .highlight {
            max-width: 600px;
            margin: 20vh auto;
            transform: translateX(40%);

            h2 {
                font-size: 2em;
            }

            p,
            ul {
                font-size: 1.2em;

            }
        }

        .txt2 {
            transform: translateX(-40%);
        }

        .highlight {
            max-width: 700px;
            min-height: 80vh;
            display: flex;
            flex-direction: column;
            justify-content: center;

            p {
                font-weight: 600;
                font-size: 3em;
                line-height: 95%;
            }
        }

        .img-medium {
            img {
                display: block;
                margin: 0 auto;
                width: unset;
                height: 80vh;
                object-fit: cover;
                object-position: center;
            }
        }

        .scroll-appear {
            display: flex;
            flex-direction: column;

            img {
                width: unset;
                height: 100vh;
                margin: 25vh auto;
                will-change: transform;
            }
        }


        .sticky_parent {
            position: relative;
            height: unset; //debe coincidir con scroll_section

        }

        .sticky {
            position: sticky;
            top: 0;
            height: 100vh;
            overflow-x: hidden;
        }

        .scroll_section {
            position: sticky;
            top: 0;
            height: 100%;
            width: fit-content; //debe coincidir con sticky_parent
            will-change: transform;
            display: flex;
            //justify-content: space-between;
            align-items: center;
            gap: 0px;

            padding-left: 20vw;

            img {
                width: unset;
                height: 80vh;
            }
        }


        .miro {
            width: 80vw;
            height: 80vh;
            margin: 20vh auto;

            iframe {
                width: 100%;
                height: 100%;
            }
        }
    }
}

/* text-animation */
.split {
    opacity: 0;
    text-align: center;
    color: rgb(14, 16, 15);
    font-size: clamp(2rem, 5rem, 3vw);
    letter-spacing: 0.05rem;
    will-change: transform;
    color: #0e100f;
}

.split * {
    will-change: transform;
}

/* VIDEOPLAYER */
.hidden {
    opacity: 0;
    pointer-events: none;
}


div#videoplayer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 150;
    background-color: #131313;


    #close {
        position: absolute;
        right: 20px;
        top: 20px;
        font-size: 3em;
        transform: scaleY(80%);
        //font-weight: 200;
        background-color: #131313;
        padding: 1px 6px;
        cursor: pointer;
    }

    #intro,
    #reel-v1,
    #reel-v2,
    #trigger-intro {
        width: 100%;
        height: 100%;

        video {
            width: 100%;
            height: 100%;
        }
    }

    #reel-v1,
    #reel-v2,
    #trigger-intro {
        position: absolute;
        top: 0;
    }

    #trigger-intro {
        opacity: 0;
        cursor: pointer;
    }

    .reel-oculto {
        opacity: 0;
        pointer-events: none;
    }

    #intro {
        #options {
            position: absolute;
            bottom: 0;

            border-top: 2px solid white;
            width: 100%;
            display: flex;
            justify-content: space-around;

            background-color: #131313;


            p {
                width: 50%;
                cursor: pointer;
                font-size: 2em;
                padding: .5em;
                text-align: center;
            }

            p:hover {
                text-shadow: 0px 0px 20px white;
            }



        }

        .hide {
            transform: translateY(100%);
        }
    }
}